@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


#app {
  font-family: Roboto, sans-serif;
}
html {
  scroll-behavior: smooth;
}
*,
body {
  margin: 0;
  padding: 0;
  
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}